<div class="row">
  <div class='col col-sm-12'>
    <h4>Formularios
      <small>template
      <a href="https://angular.io/guide/forms">Template-driven</a>
      </small>
    </h4>
  </div>
  <hr>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class='col col-sm-12 was-validated_' novalidate >
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-10">
        <input class="form-control" [ngClass]="{'is-invalid': (nombre.errors?.minlength || nombre.errors?.required)&&nombre.touched }"  type="text" placeholder="Nombre" name='nombre' #nombre='ngModel' [(ngModel)]='c_usuario.nombre' minlength="5" required>
        <div class='invalid-feedback' *ngIf="mi_form!=null?mi_form.controls.nombre.errors?.required:'' " >
          Este valor es requerido
        </div>
        <div class='invalid-feedback' *ngIf="mi_form!=null?mi_form.controls.nombre.errors?.minlength:'' " >
          la longitud minima es de {{mi_form.controls.nombre.errors.minlength.requiredLength}}
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-10">
        <input class="form-control" [ngClass]="{'is-invalid': (lastName.errors?.required)&&nombre.touched }" type="text" placeholder="Apellido" #lastName='ngModel' name='lastName' [(ngModel)]='c_usuario.apellido' required>
        <div class='invalid-feedback' *ngIf="lastName.errors?.required" >
            Este valor es requerido
          </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Correo</label>
      <div class="col-10">
        <input class="form-control" [ngClass]="{'is-invalid': (mail.errors?.required || mail.errors?.pattern)&&nombre.touched }" type="email" placeholder="Correo electrónico" #mail='ngModel' name='mail' [(ngModel)]='c_usuario.mail' required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <div class='invalid-feedback' *ngIf="mail.errors?.required" >
          Este valor es requerido
        </div>
        <div class='invalid-feedback' *ngIf="mail.errors?.pattern" >
          No es un correo valido
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Paises</label>
      <div class="col-10">
        <select class="form-control" name="pais" id="pais" #pais='ngModel' required [(ngModel)]='c_usuario.pais' >
          <option value="">Seleccione un pais</option>
          <option *ngFor="let items_pais of c_paises" [value]="items_pais.codigo">{{items_pais.nombre }}</option>
        </select>
        <div class='invalid-feedback' *ngIf="pais.errors?.required">
          Este valor es requerido
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Sexo</label>
      <div class="col-10">
        <div class="form-check" *ngFor="let itemsexo of c_sexos" >
          <input [(ngModel)]='c_usuario.sexo' name='sexo' class="form-check-input" type="radio" [value]="itemsexo.codigo" id="Sexo{{itemsexo.codigo}}">
          <label class="form-check-label" for="Sexo{{itemsexo.codigo}}">
            {{itemsexo.nombre}}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Sexo</label>
      <div class="col-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]='c_usuario.acepta' value="mivalue:{{c_usuario.acepta}}" name='acepta' id="defaultCheck1" required>
          <label class="form-check-label" for="defaultCheck1">
            Aceptar terminos y condiciones
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-10">
        <!--[disabled]='!f.valid'-->
        <button type="submit" class="btn btn-outline-primary" >
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
<pre>
  {{c_usuario | json}}
</pre>
